body{
	background: whitesmoke;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.am-btn:active:focus, .am-btn:focus {
	outline: none;
}
a {
	color: #000000;
}
a:focus, a:hover {
	color: #000000;
}
:focus {
	outline: none;
}
.am-icon-plus-square,.am-icon-minus-square{
	cursor: pointer;
}
.am-form input[type=number]:focus, .am-form input[type=search]:focus, .am-form input[type=text]:focus, .am-form input[type=password]:focus, .am-form input[type=datetime]:focus, .am-form input[type=datetime-local]:focus, .am-form input[type=date]:focus, .am-form input[type=month]:focus, .am-form input[type=time]:focus, .am-form input[type=week]:focus, .am-form input[type=email]:focus, .am-form input[type=url]:focus, .am-form input[type=tel]:focus, .am-form input[type=color]:focus, .am-form select:focus, .am-form textarea:focus, .am-form-field:focus {
    background-color: #fefffe;
    border-color: #ababab;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(0, 0, 0, 0.27);
}

.header{
	width: 100%;
	height: 80px;
	background: #000;
	color: #fff;
	font-size: 16px;
	
}
.header ul{
	margin: 0px;
}
.header a{
	color: #fff;
}
.header .content{
	max-width: 1200px;
	margin: 0 auto;
}
.header .logo{
	float: left;
	height: 60px;
	margin-top: 10px;
	overflow: hidden;
}

.header .logo img{
	height: 70px;
}

.header .nav{
	float: left;
	height: 80px;
	line-height: 80px;
}
.header .nav li{
	display: inline-block;
	width: 80px;
	text-align: center;
	position: relative;
}
.header .login{
	float: right;
	height: 80px;
	line-height: 80px;
}

.header .search-bar{
	float: right;
	height: 80px;
	line-height: 80px;
	width: 250px;
	position: relative;
}
.header .am-icon-search{
	position: absolute;
	color: #999;
	font-size: 12px;
	left: 5px;
	top:1px;
}
.header .search-bar input{
	width: 100%;
	border:1px solid #000000;
	border-radius: 5px;
	font-size: 12px;
	padding-left: 20px;
	color: #000000;
	height: 22px;


}
.header .login li{
	display: inline-block;
	min-width: 30px;
	text-align: center;
	padding-right: 15px;
}
.header .login li:last-child a{
	border-left: 1px solid #fff;
    text-align: center;
    display: block;
    height: 20px;
    line-height: 20px;
	padding-left: 15px;
}

.main-content{
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
}
.am-slider-a1 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #f5f5f5;
}
.am-slider-a1 .am-control-nav {
    width: auto;
    position: absolute;
    bottom: 5px;
    text-align: center;
    line-height: 20px;
    background-color: #000;
    height: 20px;
    border-radius: 30px;
    padding-top: 6px;
    right: 5px;
}

.am-slider-a1 .am-control-nav li a {
    width: 8px;
    height: 8px;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
}

.am-slider-a1 .am-control-nav li a:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
.am-slider-a1 .am-control-nav li a.am-active {
    background-color: #fff;
    cursor: default;
}
.products [class*=am-u-]+[class*=am-u-]:last-child {
	float: left;
}
.products{
	padding-top: 3rem;
}
.products .item{
	border:1px solid #bbbbbb;
}

.products .item .pic,.products .item .detail{
	padding: 10px;
}

.products .item .pic img{
	width: 100%;
}

.products [class*=am-u-] {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.products .item .detail{
	padding: 10px 30px;
	font-weight: bold;
	font-size: 16px;
	color: #101010;
}
.products .item .detail div{
	display: inline-block;
}
.products .item .detail div:last-child{
	float: right;
}

.products .item .buttons{
	padding: 10px 30px;
}
.products .item .buttons button{
	width: 46%;
}

.products .item .buttons button:last-child{
	float: right;
}

.products .item .buttons .am-btn-default {
	position: relative;
	height: 42px;
    color: #525e71;
    background-color: transparent;
    border-color: #bbbbbb;
    border-radius: 10px;
    font-size: 14px;
}

.products .item .buttons .am-btn-default .am-badge{
	position: absolute;
	top: -9px;
	right: 10px;
}

h2 {
    font-size: 23px;
    text-align: center;
}

.new-products li{
	padding: 1.5rem;
}



.new-products img{
	width: 100%;
	border-radius: 50%;
}


.about .box{
	padding: 1.5rem;
}

.about .content{
	border:1px solid #bbbbbb;
	padding: 10px 20px;
	font-size: 16px;
	background: #faf9f7;
}

.about .content p{
	text-indent: 2rem;
}

#header-bars ul{
	font-size: 16px;
	list-style: none;
	padding-top: 30px;
	padding-left: 0px;
}
#header-bars .am-offcanvas-bar{
	background: #000;
}
#header-bars .am-offcanvas-content{
	padding-left: 0px;
}
#header-bars ul li{
	padding-left: 20px;
	border-bottom: 1px solid #fff;
	height: 40px;
	line-height: 40px;
}

#header-bars ul li a{
	color: #fff;
	display: block;
}

.am-navbar-default .am-navbar-nav {
    background-color: #000;
}

.article .info{
	text-align: center;
}

.article .content{
	// min-height: 670px;
}

.footer{
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background-color: #000;
}


.login-box{
	padding-top: 6rem;
}
.login-box form{
	margin-top: 3rem;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border:1px solid #bbbbbb;
}
.login-box .logo{
	width: 10rem;
}

.login-box .am-btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.action-title-bar{
	text-align: left;
}

.action-title-bar .info{
	float: right;
	font-size: 16px;
	line-height: 46px;
}

.action-title-bar .red{
	color: red;
}

.shopping-cart .box{
	padding: 10px 20px;
	border:1px solid #bbbbbb;
	margin-bottom: 20px;
}
.shopping-cart .box table{
	width: 100%;
}
.shopping-cart .box table tr{
	height: 50px;
	line-height: 50px;
}
.shopping-cart .box table,.shopping-cart .box table th,.shopping-cart .box table td{
	text-align: center;
}
.shopping-cart .box table .number{
	width: 70px;
	padding: 5px;
	box-sizing: border-box;
}
.shopping-cart .box table button{
	border:none;
	background-color: transparent;
}
.total{
	background-color: #dbdbdb;
	height: 70px;
	line-height: 70px;
	padding: 0px 20px;
}
.total .price{
	float: right;
}

.total .calculate,.total-pay .calculate{
	float: right;
	height: 100%;
	width: 120px;
	text-align: center;
	background-color: rgb(242, 131, 116);
	cursor: pointer;
	position: relative;
	right: -20px;
}
.total .calculate a,.total-pay .calculate a {
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
}

.infos label{
	font-weight: normal;
}

.infos [class*=am-u-] {
    padding-left: 10px;
    padding-right: 10px;
}

.total-pay{
	padding: 0px 20px;
	background-color: #fff;
	border: 1px solid #bbbbbb;
	height: 40px;
	line-height: 40px;
	border-top: 0px;
}

.order-list .detail{
	/*border: 1px solid #bbb;*/
}
.order-list ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.order-list ul .detail .item{
	background-color: #f0f0f0;
	padding: 10px;
	padding-left: 220px;
	padding-right: 50px;
	padding-top: 20px;
	position: relative;
	height: 170px;
	margin-bottom: 10px;
}

.order-list ul .detail img{
	position: absolute;
	width: 180px;
	height: 150px;
	left: 10px;
	top: 10px;
}
.order-list a{
	color: #000;
}
.order-list .info>div{
	display: inline-block;
	font-size: 22px;
}
.order-list .info .title{
}
.order-list .info .count{
	float: right;
	text-align: right;
}
.order-list .order-calculate{
	text-align: right;
	border-bottom: 1px solid #bbb;
	padding-right: 20px;
	height: 40px;
	line-height: 40px;
}
.order-list .detail .item:last-child{
	margin-bottom: 0px;
}
.address{
	margin: 0px -20px;
	padding-bottom: 20px;
	background-color: whitesmoke;
	margin-bottom: 20px;
}
.address .content{
	padding: 10px;
	padding-left: 40px;
	background-color: #fff;
	position: relative;
}

.address i{
	position: absolute;
	top: 10px;
	left: 20px;
}

.pagination{
	text-align: center;
}
.pagination li{
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #000000;
	border: 1px solid #000000;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
}

.pagination li.active{
	background: #000000;
	color: #FFFFFF;
}

.pagination li.disabled{
	opacity: .45;
	cursor: not-allowed;
}

.pagination li a{
	color: #000000;
	height: 100%;
	width: 100%;
	display: inline-block;
}

.article-list ul{
	list-style: none;
}
.article-list ul li{
	border-bottom: 1px dashed gray;
	padding: 5px;
}
.article-list ul a{
	color: #000000;
	display: block;
}
.article-list ul .time{
	float: right;
	color: gray;
	font-size: 14px;
	padding-right: 20px;
}
.header .nav .child{
	display: none;
	padding-left: 0px;
	background: #000000;
	z-index: 99;
	min-width: 80px;
	list-style: none;
}
.header .nav .child-item{
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	display: block;
	padding: 0px 5px;
	width:auto;
	white-space:nowrap;
}
.header .nav li:hover>.child,.header .nav li:focus>.child{
	display: block;
	position: absolute;
}
.header .nav .child-item .child{
	left: 80px;
	top:-1px;
}

.products-list .pop{
	display: none;
	position: absolute;
	width: 140px;
	border: 1px solid #000000;
	background: #FFFFFF;
	top: 22px;
	padding: 15px 5px;
	left: 15px;
	margin: 0px;
	list-style: none;
	z-index: 999;
}
.products-list .pop li{
	display: block;
	margin: 2px 5px;
	word-break: break-all;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed #000;
}
.products-list .pop li:last-child{
	border-bottom: none;
}
.products-list .am-breadcrumb>li{
	position: relative;
}
.products-list .am-breadcrumb>li:hover .pop,
.products-list .am-breadcrumb>li:focus .pop{
	display: block;
}
.products-list .pop li a{
	display: block;
}
.products-list .pop li a:hover{
	font-weight: bold;
	text-decoration: underline;
}
.products-list .toggle:after{
	content: "▼";
	font-size: 10px;
	padding-left: 5px;
}

.products-list li:hover.toggle:after{
	content: "▲";

}

.am-breadcrumb>.am-active{
	color: #000;
}
.product-detail .pic{
	text-align: center;
}

.product-detail .title{
	font-size: 24px;
}
.product-detail .description{
	white-space: normal;
	font-size: 21px;
}
.product-detail .article img{
	max-width: 100%;
}

.product-detail .price{
	color: red;
	font-size: 27px;
}

.product-detail .am-btn-xl{
	width: 150px;
}

.product-detail .am-badge{
	display: none;
}

.product-detail .controller-bar{
	margin-bottom: 10px;
	font-size: 20px;
}
@media only screen and (max-width: 640px){
	.header{
		height: 42px;
		overflow: hidden;
		border-bottom: 1px solid #fff;
	}
	.header .logo{
		height: 42px;
		margin-top: 0px;
	}
	.header .logo img {
	    height: 60px;
	    margin-top: 5px;
	}

	.header .login {
	    float: right;
	    height: 42px;
	    line-height: 42px;
	    padding-right: 20px;
		padding-left: 20px;
		z-index: 999999999999;
	}
	.shopping-cart .box {
	    padding: 5px;
	    margin-bottom: 40px;
	}

	.total{
		position: fixed;
		width: 100%;
		height: 50px;
		line-height: 50px;
		left: 0px;
		bottom: 50px;
	}

	.products {
	    padding-top: 0rem;
	}

	.infos label{
		font-size: 12px;
		text-align: right;
	}

	.infos [class*=am-u-] {
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.order-list{
	    margin-left: -20px;
    	margin-right: -20px;
	}

	.order-list>ul>li>p{
		margin-bottom: 5px;
		padding-left: 10px;
		margin-top: 0px;
	}

	.order-list ul .detail .item{
		background-color: #f0f0f0;
		padding: 10px;
		padding-left: 110px;
		padding-right: 20px;
		position: relative;
		height: 80px;

	}

	.order-list ul .detail img{
		position: absolute;
		width: 90px;
		height: 60px;
		left: 10px;
		top: 10px;
	}

	.order-list .info>div{
		display: inline-block;
		font-size: 14px;
	}

	.order-list .detail{
		border: none;
	}


	.order-list .order-calculate{
		border:none;
		border-bottom: 1px solid #bbb;
	}

	.shopcartbox{
		border:none!important;
	}

	.pagination{
		padding: 0px 10px!important;
	}
	.pagination li{
		margin-bottom: 5px;
	}

	.article-list ul{
		padding-left: 5px;
	}

	.article-list ul .time{
		padding-right: 5px;
	}

	.product-detail .pic img {
		width: 100%;
		height: auto;
	}

	.product-detail .title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.product-detail .description {
		font-size: 14px;
		margin: 5px 0px;
	}

	.product-detail .price {
		font-size: 17px;
		margin: 5px 0px;
	}

	.product-detail .controller-bar{
		margin-bottom: 10px;
		font-size: 14px;
	}
}


@media only screen and (min-width: 641px){

	.products [class*=am-u-] {
	    padding-left: 3rem;
	    padding-right: 3rem;
	    padding-bottom: 1.5rem;
	}

	.new-products li{
		padding: 3rem;
	}

	.about .box{
		padding: 1.5rem 6rem;
	}

	.about .content{
		padding: 10px 50px;
		font-size: 17px;
	}

	.am-with-fixed-navbar {
	    padding-bottom: 0px;
	}

	.product-detail .pic img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 1025px){

	.products [class*=am-u-] {
	    padding-left: 6rem;
	    padding-right: 6rem;
	    padding-bottom: 3rem;
	}
	
	.new-products li{
		padding: 6rem;
	}

	.about .box{
		padding: 3rem 12rem;
	}

	.about .content{
		padding: 20px 100px;
		font-size: 19px;
	}

	.am-with-fixed-navbar {
	    padding-bottom: 0px;
	}

	.product-detail .pic img{
		width: 400px;
		height:400px;
	}
}
