/node_modules
/public/hot
/public/storage
/public/module
/storage/*.key
/storage/excel_cache/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/module/*
!/module/AdminBase
public/excel/*